{% extends 'base.html' %}

{% block page_title %}About Us{% endblock %}

{% block page_style %}

    <style>

    </style>

{% endblock %}

{% block page_content %}

<!-- Main Content for the About Us Page -->
<center> <img src="about_us_art.png" width="400" height= "200"> </center>
<center> <h1>About Us</h1> </center>

<section class="about-us">
    <h2>The Team</h2>
    <ul style="list-style-type:none;">
        <li>Treyden Stansfield</li>
        <li>Jay Annadurai</li>
        <li>Noah Hamilton</li>
        <li>Ellie Cates</li>
    </ul>
</section>

<section>
    <h2>What is our goal?</h2>
    <p>We wish to provide an accessible and user-friendly database that comprehensively connects multiclass risk factors for neurodegenerative disorders with current information.</p>
</section>

<section>
    <a href="about_project.html">Learn more about our project</a>
</section>

{% endblock %}
