{% extends 'base.html' %}

{% block page_title %} About Project {% endblock %}

{% block page_style %}

    <style>

    </style>

{% endblock %}

{% block page_content %}

<!-- Main Content for the About Project Page -->
<section class="about-project">
    <h1>About The Neurodegenerative Disorder Pathology Database</h1>
        <h2> What is the Problem?</h2>
            <ul>
                <li> Neurodegenerative disorders are complex diseases with an interlinking of multiple environmental and genetic risk factors which subsequently complicates risk communication and early intervention efforts.</li>
                <li>The dynamism of risk factors necessitates a comprehensive database that can track risk factors contributing to neurodegenerative disease pathology.</li>
            </ul>    
        <h2>What Gaps does the NDPD Fill?</h2>
            <ul>
                <li>Addresses the challenge of limited accessibility for users without experience in the medical or scientific field.</li>
                <li>Acts as a bridge between the advancing literature of neurodegenerative diseases and those wishing to investigate their risk for neurodegenerative diseases.</li>
            </ul>
        <h2>Our Goal</h2>
            <p>Provide an accessible and user-friendly database that comprehensively connects multiclass risk factors for neurodegenerative disorders with current information.</p>
</section>

{% endblock %}



